{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <!-- Template for Jumbotron from https://getbootstrap.com/docs/4.5/components/jumbotron/-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to Lily Cakes</h1>
          <p class="lead">We believe every cake has a story to tell about us</p>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="column">
                    <img src="" alt="">
                </div>
            </div>
            <div class="row">
            <div class="column">
                <h2>Discover</h2>
                <h3> Our cakes are specifically designed to make every meeting a delight. Create memories by choosing from our wide collection of cakes that fit every taste and occasion </h3>
                <form action="/" method="get">
                    <input type="submit" name="discover" value="Discover">
                </form>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
